<blockquote style="border-color: #0099FF ">

  <div class="result-user-item" >
      <div class="result-user-avatar" >
        <a href="#"><img src="<%= oneuser.avatar %>"></a>
      </div>
      <div class="result-user-detail">
        <div>
          <a class="result-user-name" href="#"><%= oneuser.name %></a>
        </div>
        <p class="result-user-academy"><%= oneuser.major %></p>
        <p class="result-user-intro"><%= oneuser.intro %></p>
      </div>
      <!-- <button class="btn-dd-friend">已是好友</button> -->
      <button class="btn-add-friend btn btn-info " data-user-id="<%= oneuser.user_id %>">发送好友请求</button>
  </div>
</blockquote>
